.container {
    height: 95vh;
}

.sidenav-content {
    height: 100%;
    background-color: rgb(245, 244, 244);
    padding: 45px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidenav {
    padding: 20px;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.example-tree-node {
    display: block;
}

.example-tree-node .example-tree-node {
    padding-left: 20px;
}

.selected-list {
    border: 2px dashed #dfcdff;
    padding: 15px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}
