.container {
    height: 95vh;
}

.sidenav-content {
    height: 100%;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidenav {
    padding: 20px;
    min-width: 300px;
}

.route {
    background-color: none;
}

.route:hover {
    text-decoration: underline;
    cursor: pointer;
}

.services {
    color: gray;
}

.selected-list {
    min-width: 50px;
    min-height: 50px;
}
