.container {
    height: 95vh;
}

.sidenav-content {
    height: 100%;
    background-color: rgb(245, 244, 244);
    padding: 45px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidenav {
    padding: 20px;
    min-width: 300px;
}

.flex {
    display: flex;
}

.route {
    background-color: none;
}

.route:hover {
    text-decoration: underline;
    cursor: pointer;
}

.services {
    color: gray;
}

.selected-list {
    border: 2px dashed #dfcdff;
    padding: 15px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}
