<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" opened="true" [style.width]="toggleResize ? '50%' : ''" mode="side"
        position="end" layout="vertical">

        <div *ngIf="navigation" class="flex">
            <ng-container *ngFor="let routes of navigation">
                <a class="route" (click)="openFolderByPath(routes)">
                    /{{
                    routes[routes.length-1] == undefined ? "Root" : routes[routes.length-1]
                    }}
                </a>
            </ng-container>
        </div>

        <div *ngIf="visualizedData">
            <div *ngFor="let folder of visualizedData.folders">
                <button mat-button class="no-style" (click)="openFolder(folder.name)">
                    <mat-icon mat-icon-button>folder</mat-icon>
                    {{folder.name}}
                </button>
            </div>
        </div>

        <div *ngIf="visualizedData" class="services" cdkDropList cdkDropListConnectedTo="selected"
            (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate"
            [cdkDropListSortingDisabled]="true">
            <div *ngFor="let service of visualizedData.services" cdkDrag [cdkDragData]="service.data">
                <button mat-button>
                    <mat-icon mat-icon-button>
                        settings
                    </mat-icon>
                    {{service.name}}
                </button>
            </div>
        </div>

        <p>Toggle Auto-resizing</p>
        <button mat-raised-button (click)="toggleResize = !toggleResize">
            {{ toggleResize ? 'Enable' : 'Disable' }}
        </button>

    </mat-drawer>

    <div class="sidenav-content content">
        <div class="flex">
            <h2>
                Workflow
            </h2>
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    <span>Authentications</span>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)=addAuthenticationDialog()>
                        <mat-icon>add</mat-icon>
                        <span>Add</span>
                    </button>
                    <button mat-menu-item (click)=listAuthenticationsDialog()>
                        <mat-icon>list</mat-icon>
                        <span>List</span>
                    </button>
                </mat-menu>
                <button mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                </button>
            </div>
        </div>

        <div id="selected" class="selected-list dashed-content" cdkDropList [cdkDropListData]="selected"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let flow of selected">
                <app-flow [data]="flow"></app-flow>
            </div>
        </div>
    </div>

</mat-drawer-container>