<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" [style.width]="toggleResize ? '50%' : ''" mode="side" position="end"
        layout="vertical">

        <div id="all" cdkDropList cdkDropListConnectedTo="selected" (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="noReturnPredicate">

            <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">

                <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node" cdkDrag
                    [cdkDragData]="node.data!">
                    <button mat-icon-button disabled>
                        <mat-icon class="mat-icon-rtl-mirror">
                            settings
                        </mat-icon>
                    </button>
                    {{node.root}}
                </cdk-nested-tree-node>

                <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
                    <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" cdkTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'folder' : 'folder_open'}}
                        </mat-icon>
                    </button>
                    {{node.root}}
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container cdkTreeNodeOutlet></ng-container>
                    </div>
                </cdk-nested-tree-node>
            </cdk-tree>

        </div>

        <p>Toggle Auto-resizing</p>
        <button (click)="toggleResize = !toggleResize" mat-raised-button>
            {{toggleResize ? 'Enable' : 'Disable' }}
        </button>

    </mat-drawer>

    <div class="sidenav-content">
        <div class="flex">
            <h4>
                Workflow
            </h4>
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>
        </div>

        <div id="selected" cdkDropList [cdkDropListData]="selected" class="selected-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="evenPredicate">
            <div class="example-box" *ngFor="let flow of selected">
                <app-flow [data]="flow"></app-flow>
            </div>
        </div>
    </div>

</mat-drawer-container>