<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" opened="true" [style.width]="toggleResize ? '50%' : ''" mode="side"
        position="end" layout="vertical">

        <div *ngIf="navigation" class="flex">
            <ng-container *ngFor="let routes of navigation">
                <a class="route" (click)="openFolderByPath(routes)">
                    /{{
                        routes[routes.length-1] == undefined ? "Root" : routes[routes.length-1]
                    }}
                </a>
            </ng-container>
        </div>

        <div *ngIf="visualizedData">
            <div *ngFor="let folder of visualizedData.folders">
                <button mat-button class="no-style" (click)="openFolder(folder.name)">
                    <mat-icon mat-icon-button>folder</mat-icon>
                    {{folder.name}}
                </button>
            </div>
        </div>

        <div *ngIf="visualizedData" class="services">
            <div *ngFor="let service of visualizedData.services">
                <button mat-button>
                    <mat-icon mat-icon-button>
                        settings
                    </mat-icon>
                    {{service.name}}
                </button>
            </div>
        </div>

        <p>Toggle Auto-resizing</p>
        <button mat-raised-button (click)="toggleResize = !toggleResize">
            {{ toggleResize ? 'Enable' : 'Disable' }}
        </button>

    </mat-drawer>

    <div class="sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-drawer-container>