<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h2>{{data.name}}<span> - {{data.meta.info}}</span></h2>
    <div class="step-in">
        <h3>{{ "INPUTS" | translate }}:</h3>
        <div class="flex">
            <div class="fixed-width" *ngFor="let variable of data.process.variables | inputVariables">
                <app-dynamic-input-wrapper [data]="variableToDynamicInput(variable)" [parentForm]="myForm">
                </app-dynamic-input-wrapper>
            </div>
        </div>
    </div>
    <div class="step-in">
        <h3>{{ "OUTPUTS" | translate }}:</h3>
        <div class="step-in" *ngFor="let variable of data.process.variables | outputVariables">
            <p>
                {{variable.meta.displayName ? variable.meta.displayName : this.variable.name}} : {{variable.schema.type!}}
            </p>
        </div>
    </div>
    <input type="number" hidden [value]="data.id">
    <button mat-raised-button color="primary" [title]="data.meta.info">{{ "ACTION" | translate }}</button>
</form>