<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h2>{{data.name}}<span> - {{data.meta.info}}</span></h2>
    <div class="step-in" *ngFor="let variable of data.process.variables">
        <div *ngIf="variable.isInput">
            <app-dynamic-input-wrapper [variable]="variable" [parentForm]="myForm">
            </app-dynamic-input-wrapper>
        </div>
        <div *ngIf="variable.isOutput">
            <p>
                Output {{variable.meta.displayName ? variable.meta.displayName : this.variable.name}}
            </p>
        </div>
    </div>
    <input type="number" hidden [value]="data.id">
    <button mat-raised-button color="primary" [title]="data.meta.info">Action</button>
</form>