<mat-toolbar class="header" color="primary">
    <a mat-button [routerLink]="['/']">{{ "HOME" | translate }}</a>
    <a mat-button [routerLink]="['/workflow-builder']">{{ "BUILDER" | translate }}</a>
    <a mat-button [routerLink]="['/authentications']">{{ "AUTHENTICATIONS" | translate }}</a>

    <span class="separate"></span>

    <app-language></app-language>
    <span>
        {{ userEmail }} 
    </span>
    <button mat-stroked-button (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Logout">exit_to_app</mat-icon>
    </button>
</mat-toolbar>