<form action="" [formGroup]="form">
    <h1>Edit authentication</h1>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Placeholder" formControlName="description"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Service Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="serviceName" readonly>
        </mat-form-field>
    </div>

    <div class="fixed-width" *ngFor="let property of properties | keyValue">
        <app-dynamic-input-wrapper [data]="propertyToDynamicInput(property.value, property.key)"
            [parentForm]="serviceForm">
        </app-dynamic-input-wrapper>
    </div>

    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()" color="primary" cdkFocusInitial>Submit</button>
</form>