body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f4f4;
}

.dashed-content {
    border: 2px dashed #dfcdff;
    padding: 15px;
    border-radius: 10px;
}

.content {
    padding: 45px;
    box-sizing: border-box;
}