.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

table {
    width: 100%;
    background-color: transparent;
}

th, td {
    background-color: transparent;
}